@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(14, 14, 15);
}

body{
    background: url(imagens/fundo-de-tecnologia-azul.jpg) no-repeat;
    position: fixed;
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(imagens/frame-iphone.png) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

iframe#tela{
    position: relative;
    top: 71px;
    left: 13px;
    width: 277px;
    height: 480px;
    /*left: 21.7px;
    height: 470px;
    width: 267.8px;*/
}

section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(20, 19, 19, 0.842);
    transition: transform .5s border 1s;
}