@charset "UTF-8";

/*paleta de cores
#22F2D4
#23DEFC
#2C98E6
#2366FC
#2E35F5
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #638adf;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color:#0b4377;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
    transform: translate(-50%, -50%);
    transition: width.3s, heigth.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #23DEFC url(imagens/1.jpg);
    background-size: cover;
    background-position: center center;
    height: 200px;
} 

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: black;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    background-color: black;
    font-size: 2em;
    width: 40px;
    padding:4px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px ;
}

div.campo input {
    background-color: #0f0f0f;
    font-size: 1em;
    width: calc(100% - 80px);
    height: 80%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-11px);
}

div.campo > input:focus-within {
    background-color: rgb(90, 87, 87);
}

form > input[type=submit] {
    display: block;
    font-size:1em;
    width: 100%;
    height: 40px;
    background-color: #2C98E6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #638adf;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #4594fa;
    border:  1px solid #5b96e2;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #61afe7;
}

form > a.botao > i {
    font-size: 0.8em;
}