body{
    width: 100px;
    height: 100px;
    background-image: url(img/topo2.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    /*background-position: center top;*/
}