@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

@font-face {
    font-family: 'teste' ;
    src: url('aldine-721-bt-italic.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

header {
    background-image: url(img/topo.jpg);
    padding: 15px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

body{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    font-weight:;
    background-color:rgba(252, 252, 252, 0.76);
    color: rgb(0, 0, 0);
    width: 100%vh;
    margin: auto; 
}

body > p{
    padding: 50px;
}

h3{
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.205);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(172, 163, 163, 0.747);
    text-decoration: underline;
}

h1,h2 {
    font-family: 'teste';
    font-size: 2em;
    fornt-weight: normal;

}

p#i1{
    display: inline-block;
}

main{
     font-family: 'DynaPuff', cursive;
     padding: 15px;
    
}

main > p{
    position: 15px;
}

h3{
    color: rgb(3, 3, 3);
    background-color: rgba(243, 228, 16, 0.829);
}

main {
    background-color: rgba(214, 214, 24, 0.918);
    color: black;
}

article > ul{
    list-style-type: '';
}

section {
    
    line-height: 1.5em;
}

section.intro{
    background-image:linear-gradient(orange, yellow);
}

section > p > strong {
    display: inline none;
    color: black;
    text-shadow: none;
    
}

section.nomal {
    padding: 10px;
}

section.imagem > p, section.imagem p > strong{
    display: inline-block;
    padding: 10px;
    background-color: rgba(43, 41, 41, 0.247);
    color: white;
    text-shadow: 2px 2px 0px black;
    text-align: center;
}


section#img1 {
    background-image: url(img/img01.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section#img2 {
    background-image: url(img/img2.jpg);
    background-attachment: fixed;
}

footer {
    background-color: rgba(255, 0, 0, 0.856);
    padding: 10px;
    margin: 10px;
}

footer > a{
    color: black;
}

footer a:hover {
    color: rgba(172, 163, 163, 0.747);
    text-decoration: underline;
}
